<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Naturaleza</title>
</head>
<body>
    <h1>La naturaleza</h1>
    <img src="/static/images/arbol.jpg" width="256" height="256">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolores adipisci magnam dicta, assumenda nulla
    laudantium tenetur quas cupiditate iste officia, perferendis eveniet fugit architecto aut aliquid. A, quod
    reiciendis!
    Ab rem voluptatibus cum dolor molestiae atque ipsa quos ipsum ea tempora ipsam assumenda earum, veniam,
    voluptate in! Dolor, corporis amet! Itaque, deleniti iste harum at nulla voluptatem doloremque deserunt!
    </p>
    <a href="https://en.wikipedia.org/wiki/Nature">this is nature</a>

    <p>Consectetur consequat consequat nisi aliqua dolor exercitation ea voluptate consequat cupidatat. Lorem reprehenderit incididunt esse aliqua quis mollit officia ad labore. Amet anim excepteur minim cupidatat officia adipisicing do quis fugiat aute ut eiusmod pariatur commodo. Eu laborum eiusmod proident pariatur. Lorem quis nostrud voluptate consequat cupidatat id. Incididunt cillum duis pariatur consequat Lorem.

    Qui elit incididunt occaecat in qui cillum aliquip aliqua do duis anim exercitation fugiat eu. Sunt minim nisi nisi sit. Cillum eiusmod reprehenderit mollit minim sunt consequat ad duis non non eu aliqua elit.
    </p>

    <a href="{{url_for('about')}}">about</a>

</body>
</html>
